@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

 @import models.Product
 @(productsList: List[Product])

 @main("Products") {
      <!-- https://getbootstrap.com/docs/4.0/layout/grid/ -->
      <div class="row">
        <div class="col-md-2">

          <!-- https://getbootstrap.com/docs/4.0/components/list-group/ -->
          <div class="list-group">
            <a href="#" class="list-group-item  list-group-item-action">All Categories</a>
          </div>

        </div>

        <div class="col-md-auto">
          <!-- https://getbootstrap.com/docs/4.0/content/tables/ -->
          <table class="table table-hover">
            <thead>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Description</th>
              <th scope="col">Stock</th>
              <th scope="col">Price</th>
            </thead>
            <tbody>
            @* Iterate through products, adding a new row for each in the list *@
            @* for each product in the products list *@
            @for(product <- productsList) {
              <tr scope="row">
                <td>@product.getId</td>
                <td>@product.getName</td>
                <td>@product.getCategory</td>
                <td>@product.getDescription</td>
                <td>@product.getStock</td>
                <td class="text-right">&euro;@("%.2f".format(product.getPrice))</td>
              </tr>
            } @* End for loop*@
            </tbody>
            <tfoot>
              <tr scope="row">
                
              </tr>
            </tfoot>
          </table>
		  
          

        </div>
 }
